@import "var.scss";

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    height: fill-available;

    user-select: none;
    -webkit-user-select: none;

    overflow: hidden;
}

p {
    margin: 0;
}

body > .background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    height: fill-available;

    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    // filter: blur(8px) contrast(0.75);
    // filter: contrast(0.5) brightness(0.25);
    filter: contrast(30%) brightness(25%);
    transform: scale(1.1);
}

body > .foreground {
    position: fixed;

    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    height: fill-available;

    align-items: center;
    display: flex;
    justify-content: center;
}

body > .foreground > canvas {
    --margin: 0px;
    max-width: calc(min(1280px, 100%) - var(--margin));
    max-height: calc(min(720px, 100%) - var(--margin));

    box-shadow: 4px 4px 16px #000000aa;
}