@import "var.scss";
@import "input-range.scss";

.player {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1280px;
    height: 720px;

    justify-content: start;

    // background-color: #00000088;
    background: linear-gradient(#000000ee 0%, #00000066 50%, #00000000 80%);
    // -webkit-backdrop-filter: blur(2.4px);
    // backdrop-filter: blur(2.4px);

    flex-direction: column;

    transition: opacity 0.2s;
}

.player:not(.visible) {
    opacity: 0;
}

.button-group {
    display: flex;
    flex-basis: 70px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.material-icons {
    font-size: 96px;
}

.material-icons.sm {
    font-size: 64px;
}

.material-icons.pink {
    color: #c52c2c;
}

.material-icons.gray {
    color: #222222;
}

button {
    background: none;
    border: none;
    // border-radius: 24px;
    width: 128px;
    height: 128px;
    padding: 11px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s;
}

.play-button,
.next-button,
.prev-button {
    padding: 1px;
}

button:hover,
button:focus {
    outline: 0;
    background-color: #ffffff44;
}

.range-group {
    display: flex;
    flex-basis: 30px;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
}

// input-range.scss
// @include input-range($selector: ".volume-range", $range-width: 160px);

@include input-range(
    $selector: ".volume-range",
    $range-width: 360px,
    $background-color: #777777
);

@media screen and (max-width: $large-screen) {
    @include input-range(
        $selector: ".volume-range",
        $range-width: 280px,
        $thumb-size: 22px,
        $background-color: #777777
    );

    .button-group {
        flex-basis: 64px;
        margin-top: 42px;
    }

    .material-icons {
        font-size: 72px;
    }

    .material-icons.sm {
        font-size: 54px;
    }

    button {
        width: 100px;
        height: 100px;
        padding: 9px;
    }

    .setting-button {
        margin-left: 36px;
    }

    .like-button {
        margin-right: 36px;
    }
}

@media screen and (max-width: $medium-screen) {
    @include input-range(
        $selector: ".volume-range",
        $range-width: 240px,
        $range-height: 16px,
        $thumb-size: 20px,
        $background-color: #777777
    );

    .button-group {
        flex-basis: 42px;
        margin-top: 36px;
    }

    .material-icons {
        font-size: 60px;
    }

    .material-icons.sm {
        font-size: 36px;
    }

    button {
        width: 72px;
        height: 72px;
        padding: 6px;
    }
}

@media screen and (max-width: $small-screen) {
    @include input-range(
        $selector: ".volume-range",
        $range-width: 200px,
        $range-height: 12px,
        $thumb-size: 18px,
        $background-color: #777777
    );

    .player {
        width: 100%;
        height: 90px;
    }

    .button-group {
        flex-basis: 30px;
        margin-top: 24px;
    }

    .material-icons {
        font-size: 38px;
    }

    .material-icons.sm {
        font-size: 28px;
    }

    button {
        width: 40px;
        height: 40px;
    }

    .range-group {
        margin-top: 10px;
    }

    .setting-button {
        margin-left: 24px;
    }

    .like-button {
        margin-right: 24px;
    }
}
